@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

.outfit-headline {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600; /* Specifying a specific weight */
  font-style: normal;
}

body {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.content-flex
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    text-align: center;
}

.content-flex p
{
    line-height: 150% ;
}

.start-button
{
    padding: 1%;
    border-radius: 5px;
}

.start-button:hover
{
    background-color: #dcdcdc;
    color: #000000;
    cursor: pointer;
}

.button-flex
{
    display: flex;
    justify-content: end;
    margin-top: 2%;
    flex-direction: row;
    align-items: center;
    width: 15vw;
    height: 10vh;
    flex-wrap: wrap;
    /* border: 1px solid black; */

}

.checkbox
{
    display: flex;
}

@media only screen and (max-width: 600px) {
    /* Styles specific to phones */
    body {
        margin: 10%;
    }

}